/nbproject/private/
/SpriteJames-war/nbproject/private/
/SpriteJames-ejb/nbproject/private/
/SpriteJames-ejb/build/
/SpriteJames-ejb/dist/
/SpriteJames-war/build/
/SpriteJames-war/dist/
/build/
/dist/
